/bin/
/.settings/
/test-output/
bsi-java/.vscode/settings.json
.vscode/
*.jar
java/webflux/.mvn/
java/webflux/mvnw
java/webflux/mvnw.cmd
kotlin/.gradle/
kotlin/.settings/
kotlin/.project
kotlin/.classpath
java/testes/target/
java/testes/.settings/
erlang/hello_world/hello_world.beam
bd/odbc/python_postgres/.venv/
bd/mongodb/.venv/
bd/python/peewee_postgres/.venv/
bd/python/peewee_postgres/__pycache__/
languages/java/testes/target/
languages/kotlin/.gradle/
database/connections/python/mongodb/.venv/
