/bin/
/.settings/
/test-output/
bsi-java/.vscode/settings.json
.vscode/
*.jar
java/webflux/.mvn/
java/webflux/mvnw
java/webflux/mvnw.cmd
kotlin/.gradle/
kotlin/.settings/
kotlin/.project
kotlin/.classpath
java/testes/target/
java/testes/.settings/
erlang/hello_world/hello_world.beam
