<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Formulário</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Cadastro</h1>
    </div>

    <div class="col-7 m-auto pt-3 pb-2 text-center">
        <a href="/" class="btn btn-info">Voltar</a>
    </div>

    <div class="col-7 m-auto pt-4 pb-2 text-center">
        Aqui vai vir o form
    </div>
</body>
</html>
